<ul *ngIf="data?.length" [ngClass]="!parent ? 'pl-0' : ''">
    <ng-container *ngFor="let node of data">
        <li class="flex flex-col relative"
            [ngClass]="(!node.expanded || !treeNodeTpl) && !parent ? 'border-b border-[#E7EBEE]' : ''">

            <!-- row -->
            <div *ngIf="treeNodeTpl" class="flex items-start gap-2 relative" [ngClass]="parent ? 'ml-8' : 'pt-2'">

                <!-- vertical dashed line -->
                <span *ngIf="parent" class="absolute left-0 top-0 h-full border-l border-dashed border-gray-300"></span>

                <!-- horizontal dashed line -->
                <span *ngIf="parent" class="flex-shrink-0 w-4 h-0.5 mt-2 border-t border-dashed border-gray-300"></span>

                <!-- toggle button -->
                <span *ngIf="node.children?.length" (click)="toggle(node)"
                    class="cursor-pointer w-4 select-none transition-transform"
                    [ngClass]="node.expanded ? 'rotate-180' : ''">
                    <app-icon name="chevron-down" size="20" class="text-gray-700" ariaLabel="chevron-down"></app-icon>
                </span>

                <!-- checkbox -->
                <app-checkbox [(ngModel)]="node.checked" [indeterminate]="node.indeterminate ?? false"
                    (ngModelChange)="toggleCheck(node, $event, parent)">
                </app-checkbox>

                <!-- custom template -->
                <ng-container [ngTemplateOutlet]="treeNodeTpl"
                    [ngTemplateOutletContext]="{ $implicit: node, toggle: toggle.bind(this), parent }">
                </ng-container>
            </div>

            <div *ngIf="!treeNodeTpl" class="flex items-center py-2 gap-2 relative" [ngClass]="parent ? 'ml-8' : ''">
                <!-- vertical dashed line -->
                <span *ngIf="parent" class="absolute left-0 top-0 h-full border-l border-dashed border-gray-300"></span>

                <!-- horizontal dashed line -->
                <span *ngIf="parent" class="flex-shrink-0 w-4 h-0.5 mt-0 border-t border-dashed border-gray-300"></span>

                <!-- toggle button -->
                <span *ngIf="node.children?.length" (click)="toggle(node)"
                    class="cursor-pointer w-4 select-none transition-transform"
                    [ngClass]="node.expanded ? 'rotate-180' : ''">
                    <app-icon name="chevron-down" size="20" class="text-gray-700" ariaLabel="chevron-down"></app-icon>
                </span>

                <!-- checkbox -->
                <app-checkbox [(ngModel)]="node.checked" [indeterminate]="node.indeterminate ?? false"
                    (ngModelChange)="toggleCheck(node, $event, parent)">
                </app-checkbox>

                <!-- label -->
                <span (click)="toggle(node)" class="cursor-pointer text-gray-700 text-sm font-semibold">
                    {{ node.label }}
                </span>
            </div>

            <!-- recursive -->
            <app-tree *ngIf="node.children?.length && node.expanded" [data]="node.children ?? []" [parent]="node"
                [treeNodeTpl]="treeNodeTpl" (selectionChange)="selectionChange.emit($event)">
            </app-tree>

        </li>
    </ng-container>
</ul>